.taskEmpty {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1.5rem;
    border-top: 2px solid var(--gray-400);
    border-radius: 8px;
}

.taskEmpty {
    padding-top: 4rem;
}

.taskEmpty p {
    margin-top: 1rem;
    font-weight: bold;
    color: var(--gray-300);
}

.taskEmpty span {
    margin-top: .5rem;
    font-weight: normal;
    color: var(--gray-300);
}

@media (max-width: 420px) {
    .taskEmpty {
        text-align: center;
    }
}